html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: var(--size-m);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-family: var(--primary-font-family), serif;
}

img {
  max-width: 100%;
  margin-top: 10px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px 10vh 15px;
}

.loading {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}
