.toaster-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 10px 20px;
  color: var(--light-color);
  font-size: var(--size-m);
  box-shadow: var(--shadow);
  opacity: 1;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &.success {
    background-color: #1d8c22;
  }

  &.error {
    background-color: #bd1107;
  }

  &.warning {
    background-color: #e49424;
  }

  &.info {
    background-color: #2196f3;
  }
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}
