:root {
  --primary-font-family: 'Rozha One';
  --secondary-font-family: 'Raleway';

  --accent-color: #004e81;
  --dark-color: #303030;
  --light-color: #ffffff;
  --gray-color: #a3a3a3;

  --size-s: 12px;
  --size-m: 16px;
  --size-l: 24px;

  --shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}
