:root {
    /* Fonts */
    --primary-font-family: 'Rozha One';
    --secondary-font-family: 'Raleway';

    /* Colors */
    --accent-color: #004e81;
    --dark-color: #303030;
    --light-color: #ffffff;
    --gray-color: #a3a3a3;

    /* Font sizes */
    --size-s: 12px;
    --size-m: 16px;
    --size-l: 24px;

    /* Shadows */
    --shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font-family), sans-serif;
    font-size: var(--size-m);
    color: var(--dark-color);
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Container */
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px 10vh 0;
}

/* Titles */
.messages-title {
    margin: 50px 0 20px;
}

/* Messages */
.message-text {
    line-height: 1.75;
}

.message {
    border: 1px solid var(--dark-color);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

/* Date */
.date {
    color: var(--gray-color);
    font-family: var(--secondary-font-family), sans-serif;
    font-size: var(--size-s);
}

/* Images */
img {
    max-width: 100%;
    margin-top: 10px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
    font-family: var(--primary-font-family), serif;
}

/* Button */
.btn {
    width: 100%;
    outline: none;
    border: 1px solid var(--dark-color);
    padding: 10px 16px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    background: var(--accent-color);
    color: var(--light-color);
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.btn:hover {
    background-color: var(--accent-color);
}

/* Loading */
.loading {
    max-width: 80px;
    display: block;
    margin: 0 auto;
}

/* Filters */
.filters {
    font-size: var(--size-s);
}

.filters-title {
    color: var(--dark-color);
}

/* Filter Button */
.filter-btn {
    cursor: pointer;
    border: none;
    background: none;
    transition: opacity 0.2s ease-in-out;
    color: var(--gray-color);
    font-size: var(--size-s);
}

.filter-btn.active {
    color: var(--accent-color);
}

.filter-btn:hover {
    opacity: 0.7;
}
